*{
	padding: 0;
	margin: 0;
	text-decoration: none;
	list-style: none;
	box-sizing: border-box;
}
:root{
	--primary-color: #edf2fc;
	--secondary-color: #212121;
}
.dark-theme{
	--primary-color: #353035;
	--secondary-color: #fff;
}
body{
	font-family: Bahnschrift Light;
	background-color: var(--primary-color);
}
#icon{
	width: 30px;
	cursor: pointer;
	margin-left: 30px;
}

nav{
	background-image: linear-gradient(to right, white,white,white, #ffbfbf ,#fdffbf ,#a1d5a7 ,#bad9df ,#e0cde5);
	height: 80px;
	width: 100%;
	position: sticky;
	top: 0;
}
.dropdown {
  float: left;
  overflow: hidden;
}

nav a{
	display: block;
}
ul.lol li:nth-child(1) {
  color: #b046cb; 
}
ul.lol li:nth-child(2) {
  color: #b046cb; 
}
ul.lol li:nth-child(3) {
  color: #b046cb; 
}
ul.lol li:nth-child(4) {
  color: #b046cb; 
}
.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: black;
  padding: 0px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  font-family: Cambria;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  
}
.dropdown-content a:hover {
  background-color: #ddd;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropbtn a{
	font-family: Cambria;
}
.dropdown a{
	font-family: Cambria;
}
.dropbtn{
	position: relative;
		display: inline-block;
}
label.logo{
	color: black;
	font-size: 40px;
	line-height: 80px;
	padding: 0 100px;
	font-weight: bold;
	font-family: serif;
}
nav ul{
	float: right;
	margin-right: 20px;
}
nav ul li{
	display: inline-block;
	line-height: 80px;
	margin: 0 5px;
}
nav ul li a{
	color: black;
	font-size: 16px;
	padding: 13 px 7px;
	font-weight: 700;
	font-family: Cambria;
	color: var(--secondary-color);
}

.lol a:hover{
	color: #b046cb;
	transition: .5s;
}
.checkbtn{
	font-size: 30px;
	color: black;
	float: right;
	line-height: 80px;
	margin-right: 40px;
	cursor: pointer;
	display: none;
}
#check{
	display: none;
}
@media (max-width: 541px){          /*masan cur*/
	div.poz1 p{
		margin-left: 10px;    
		margin-right: 10px;
		color: var(--secondary-color);
	}
	div.info p{
		margin-left: 25px;
		margin-right: 25px;
		color: var(--secondary-color);
	}
	div.info img{
		width: 90%;
		height: auto;
	}
}
@media (max-width: 518px){
	label.logo{
		font-size: 25px;
		padding-left: 50px;
	}
}

@media (max-width: 361px){
	label.logo{
		font-size: 20px;
		padding-left: 50px;
	}
	div.treip img{            /*blecberi*/
		padding: 5px;
		width: 33%;
		height: auto;
	}
	
}
@media (max-width: 952 px){
	label.logo{
		font-size: 30px;
		padding-left: 50px;
	}
	nav ul li a{
		font-size: 16px;
		color: var(--secondary-color);
	}
}
@media (max-width: 927px ){
	div.poz1{
		column-count: 1;
	}
	div.poz2{
		column-count: 1;
	}
	div.poz3{
		column-count: 1;
	}
	div.poz4{
		column-count: 1;
	}
	div.poz5{
		column-count: 1;
	}
	div.poz6{
		column-count: 1;
	}
}
@media (max-width: 1126px){
	
	div.treip img{
		padding: 20px;
	}
}
@media (max-width: 877px){
	.checkbtn{
		display: block;
	}
	ul{
		position: fixed;
		width: 100%;
		height: 100vh;
		background: #472280;
		top: 80px;
		left: -100%;
		text-align: center;
		transition: all .5s;
		  display: flex;
  flex-direction: column;
	}
	nav ul li{
		display: block;
		margin: 50px 0;
		line-height: 30px;
		
	}
	nav ul li a{
		font-size: 20px;
		color: var(--secondary-color);
	}
	a:hover,a.ok{
		background: none;
		color: #black;
	}
	#check:checked ~ ul{
		left: 0;
	}
	
}
.nush img{
	width: 100%;
	height: auto;
}
.info h2{
	font-family: serif;
	padding: 50px;
	font-weight: 500;
	font-size: 40px;
	color: var(--secondary-color);
}
.info h3{
	font-family: serif;
	padding: 15px;
	font-size: 25px;
	color: var(--secondary-color);
}
.info p{
	font-size: 16px;
	font-family: Bahnschrift Light;
	text-indent: 50px;
	line-height: 1.5;
	text-align: justify;
	color: var(--secondary-color);
}
.pap p{
	font-size: 20px;
	margin-left: 150px;
	margin-right: 150px;
	color: var(--secondary-color);
}	
.poz1 {
	column-count: 2;
		padding: 50px;
		background-image: linear-gradient(var(--primary-color), #c9a8fb,var(--primary-color));
		
}
.poz1 p{
	padding: 50px;
	color: var(--secondary-color);
}
.info img{
	display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.poz2 {
	column-count: 2;
		padding: 50px;
		background-image: linear-gradient(var(--primary-color), #c9a8fb,var(--primary-color));
}
.poz2 p{
	padding: 50px;
	color: var(--secondary-color);
}
.poz3 {
	column-count: 2;
		padding: 50px;
		background-image: linear-gradient(var(--primary-color), #c9a8fb,var(--primary-color));
}
.poz3 p{
	padding: 50px;
	color: var(--secondary-color);
}
.poz4 {
	column-count: 2;
		padding: 50px;
		background-image: linear-gradient(var(--primary-color), #c9a8fb,var(--primary-color));
}
.poz4 p{
	padding: 50px;
	color: var(--secondary-color);
}
.poz5 {
	column-count: 2;
		padding: 50px;
		background-image: linear-gradient(var(--primary-color), #c9a8fb,var(--primary-color));
}
.poz5 p{
	padding: 50px;
	color: var(--secondary-color);
}
.poz6 {
	column-count: 2;
		padding: 50px;
		background-image: linear-gradient(var(--primary-color), #c9a8fb,var(--primary-color));
}
.poz6 p{
	padding: 50px;
	color: var(--secondary-color);
}
.blana h2{
	font-family: serif;
	font-size: 40px;
	text-align: center;
	padding: 50px;
	color: var(--secondary-color);

}
.image {
	column-count: 3;
	background-image: linear-gradient(var(--primary-color), #f1e0fc,var(--primary-color));
}
.image img{
	display: block;
	margin-left: auto;
  margin-right: auto;
  width: 40%;
  border-radius: 50%;
  box-shadow: 2px 2px 4px #eac1f4;
}
.text {
	column-count: 3;
	display: block;
}
.text h4{
	text-align: center;
	padding: 20px;
	font-size: 25px;
	font-family:  serif;
	color: var(--secondary-color);
	text-shadow: 0 0 3px #8800a6;
}
.pap p{
	text-align: center;
	color: var(--secondary-color);
}
.info h1,h3{
	text-align: center;
	color: var(--secondary-color);
}
 .treip img {
  padding: 50px;
  border-radius: 30%;
  transition: transform .2s;}
  .treip img:hover{
	  transform: scale(1.5);
  }
  .treip{
	  text-align: center;
  }
	.idk {background-image: linear-gradient(to right, #eaccf9, #c38adf); padding: 10px 0;}
	.idk p{font-family: Bahnschrift Light; font-size: 20px; text-align: center; color: white;
	}